@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');










.topText{
    display: block;
    max-width: 1200px;
    margin: auto;
    font-size: 65px;
    margin-top: 50px;
    color: red;
}


.orangeLine{
    max-width: 1200px;
    height: 2px;
    background-color: orange;
    margin: auto;
}

.content h4{
    max-width: 1000px;
    margin: 20px auto;
    font-size: 30px;
    font-weight: 100;
}

.takeAtour {
  display: block;            
  width: fit-content;
  text-decoration: none;
  margin: 20px auto;
  color: white;
  padding: 10px 20px;
  background-color: red;
  text-align: center;
  border-radius: 8px;        
  transition: background 0.3s ease;
}

.takeAtour:hover {
  background-color: darkred;
}


.cont1{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}


.facpack{
    max-width: 380px;
    margin: 20px auto;
}

.imgtab{
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}


.imgtab img{
    width: 100%;
    object-fit: cover;
}


.imgtab .txtbox{
    width: 100%;
    padding-top: 30px;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
}

.imgtab .txtbox h2{
    color: white;
    width: 90%;
    text-align: center;
    font-size: 20px;
    margin: 10px 0 20px 0;
    cursor: pointer;
    text-underline-offset: 5px;
}


.imgtab .txtbox button{
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 5px 10px;
    margin: 10px 0 20px 0;
    transition: all 0.3s ease-in-out;
}

.imgtab .txtbox h2:hover{
    color: red;
}


.slide-txtbox{
    width: 100%;
    max-height: 0;
    background-color: gray;
    color: white;
    transition: max-height 0.5s ease-in-out;
    overflow: hidden;
}

.slide-txtbox.expanded{
    max-height: 1000px;
}


.slide-txtbox p{
    width: 90%;
    margin: auto;
    padding: 20px 0;
    text-align: justify;
}

.slide-txtbox p a{
    color: orange;
    text-decoration: none;
}

.slide-txtbox p a:hover{
    color: red;
    cursor: pointer;
}

.slide-txtbox ul{
    width: 80%;
    margin: auto;
    padding: 0 0 20px 30px;
    text-align: justify;
}








@media (max-width: 1250px) {
    .topText{
        max-width: 90vw;
        font-size: 55px;
        margin-top: 30px;
    }


    .orangeLine{
        max-width: 90vw;
    }

    .content h4{
        max-width: 84vw;
    }
    
    

    .cont1 h2{
        max-width: 90vw;
    }

    .cont2 h2{
        max-width: 90vw;
    }


    .tabs{
        max-width: 84vw;
    }

    .Wline{
        max-width: 90vw;
    }

    .Bline{
        max-width: 90vw;
    }
}