@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');






















*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}


/* Header */




header{
    position: relative;
    height: 250px;
    width: 100%;
    background-color: black;
}

.blackThick{
    width: 100%;
    height: 50px;
    background-color: black;
}

.headerLogo{
    position: absolute;
    width: 150px;
    top: 15px;
    left: 30px;
}

.headerImage{
    position: relative;
    width: 100%;
}

.headerImage h1{
    position: absolute;
    width: 100%;
    color: white;
    font-size: 50px;
    text-align: center;
    top: 50px;
}

.headerImage h1 b{
    color: red;
}

.headerImage img {
    /* position: absolute; */
    top: 50px;
    left: 0px;
    width: 100%;
    height: 200px;
    object-fit: cover;
    opacity: 0.6;
}




.navbar{
    width: 100%;
    height: 55px;
    position: absolute;
    top: 193px;
    display: flex;
    justify-content: center;
}

.navbar li{
    list-style: none;
}

.navbar li a{
    text-decoration: none;
    color: white;
    line-height: 55px;
    font-size: 22px;
    padding: 0 20px;
}

.navbar .inactive:hover{
    color: red;
}

.scrolled{
    position: fixed;
    background-color: black;
    top: 0;
    justify-content: right;
    transition: background-color 1s ease;
    z-index: 999;
}

.hiddenMenu{
    z-index: 20;
    display: none;
}

.hiddenMenu .dots{
    top: -60px;
}






.navbar .active{
    color: orange;
    font-weight: 800;
}

.hiddenMenu .active{
    color: orange;
}



.reDropDiv {
  display: none;
  width: 200px;    
  background-color: black;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 1000;
}

.reDropDiv a{
    display: block;
    text-decoration: none;
    width: 120px;
    color: white;
    text-align: center;
    margin: 10px 20px;
}

.reDropDiv a:hover{
    color: red;
}
























.redLine{
    position: absolute;
    top: 248px;
    width: 100%;
    height: 2px;
    background-color: red;
}




footer{
    position: relative;
    background-color: rgb(172, 0, 0);
}

.orangeline{
    display: block;
    width: 100%;
    background-color: orange;
    height: 2px;
}

footer h1{
    display: block;
    max-width: 1000px;
    color: white;
    margin: auto;
    padding: 20px 20px 10px 20px;
    text-align: center;
    font-size: 25px;
}

.ftr1{
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
    flex-direction: row;
    margin: 0px auto 10px;
}


.ftrAddr{
    width: 250px;
}

.ftrAddr p{
    text-align: left;
    font-size: 15px;
}



.ftrDev{
    position: relative;
    width: 250px;
    padding: 5px 10px;
}

.ftrDev h2{
    color: white;
    margin-bottom: 3px;
    font-size: 15px;
}


.ftrDev p{
    text-align: left;
    margin: 0;
    padding: 5px;
    font-size: 15px;
}

.ftrConnect iframe{
    width: 100%;
    height: 100px;
}


.ftrConnect{
    position: relative;
    width: 250px;
    padding: 0px 10px;
}

.ftrConnect a{
    text-decoration: none;
}

.ftrConnect h2{
    color: white;
    margin-bottom: 5px;
    font-size: 20px;
}

.ftrConnect a h2:hover{
    color: yellow;
}


footer p{
    text-align: center;
    padding: 2px 10px;
    font-size: 15px;
    color: white;
    font-weight: 700;
}


footer p a{
    text-decoration: none;
    color: white;
}

footer p a:hover{
    color: yellow;
}


@media (min-width: 830px) and (max-width: 1249px) {
    .headerImage h1{
        font-size: 40px;
        margin-top: 20px;
    }
}


@media (min-width: 400px) and (max-width: 829px) {

    .headerImage h1{
        font-size: 30px;
    }

    .navbar{
        display: none;
    }


    .hiddenMenu{
        display: block;
        position: relative;
    }

    .hiddenMenu img{
        position: absolute;
        top: 30px;
        right: 30px;
    }

    .hiddenMenu button{
        background-color: transparent;
        border: none;
    }

    .menus {
        position: fixed;
        background-color: black;
        width: 65vw;
        height: 100vh;
        top: 0;
        right: 0;
        transform: translateX(65vw);
        z-index: 5;
        transition: transform 0.5s ease;
    }

    .menus.active {
        transform: translateX(0);
    }

    .menus ul{
        margin: 80px 50px;
    }

    .menus ul li{
        list-style-type: none;
        padding-bottom: 30px;
    }

    .menus ul li a{
        text-decoration: none;
        color: white;
        font-size: 40px;
    }


    .closeMenu{
        position: absolute;
        top: 20px;
        right: 20px;
        height: 45px;
        width: 45px;
        object-fit: cover;
        z-index: 6;
    }
}



@media (max-width: 399px) {
    
    .headerImage h1{
        font-size: 30px;
    }

    .navbar{
        display: none;
    }


    .hiddenMenu{
        display: block;
        position: relative;
    }

    .hiddenMenu img{
        position: absolute;
        bottom: -30px;
        right: 30px;
    }

    .hiddenMenu button{
        background-color: transparent;
        border: none;
    }

    .menus {
        position: fixed;
        background-color: black;
        width: 65vw;
        height: 100vh;
        top: 0;
        right: 0;
        transform: translateX(65vw);
        z-index: 5;
        transition: transform 0.5s ease;
    }

    .menus.active {
        transform: translateX(0);
    }

    .menus ul{
        margin: 80px 50px;
    }

    .menus ul li{
        list-style-type: none;
        padding-bottom: 30px;
    }

    .menus ul li a{
        text-decoration: none;
        color: white;
        font-size: 40px;
    }


    .closeMenu{
        position: absolute;
        top: 20px;
        left: 190px;
        height: 45px;
        width: 45px;
        object-fit: cover;
        z-index: 6;
    }
}