@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');














*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}





/* Cont 1 */


.frame{
    position: relative;
    width: 100%;
    max-width: 1200px;
    height: 800px;
    overflow: hidden;
    margin: 50px auto 50px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
}


.imgSlider {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
    width: 100%;
    transition: opacity 2s ease;
}

.slides {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background-color: black;
}

.slides img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}


.slides::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    z-index: 1;
}


.imgInfo{
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 2;
    color: white;
    justify-items: center;
    background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0), rgba(0,0,0,0));
}


.imgInfo h1 {
    position: absolute;
    bottom: 140px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.imgInfo a{
    font-size: 15px;
    text-decoration: none;
    color: white;
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 8px;
    border: white solid 2px;
    transition: all 0.5s;
}

.imgInfo a:hover{
    color: black;
    background-color: white;
    transition: all 0.5s;
}


.buttonSlide {
    position: absolute;
    display: flex;
    width: 100%;
    bottom: 0px;
    justify-content: center;
    list-style-type: none;
}

.btnSlide {
    position: relative;
    z-index: 3;
    width: 12px;
    height: 12px;
    margin: 20px;
    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.3s ease;
}


/* Cont3 */


.cont3{
    width: 100%;
    color: white;
    display: flex;
    padding: 50px 0;
    justify-content: center;
}


.cont3 h2{
    width: 400px;
    padding: 25px;
    font: 15px;
    font-weight: 200;
    color: black;
}

.takeTour{
    background-color: rgb(21, 96, 158);
    width: 400px;
    height: 250px;
    cursor: pointer;
    transition: all 0.5s ease;
}


.takeTour:hover{
    color: rgb(184, 184, 184);
}


.takeTour h1{
    width: 300px;
    padding: 30px 50px;
}


.takeTour p{
    padding-left: 50px;
    transition: all 0.5s ease;
}





/* Cont2 */

.cont2 {
  max-width: 100%;
  background-color: rgb(36, 36, 36);
}

.cont2 h2 {
  color: white;
  font-size: 2.2rem;
  padding-top: 50px;
  padding-left: 20px;
  max-width: 1400px;
  margin: auto;
}

.hedUL{
    text-decoration: underline red;
    text-underline-offset: 10px;
}


.cont2_set {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 50px;
  max-width: 1400px;
  margin: auto;
}

.cont2_tabs {
  margin: 10px 20px;
  position: relative;
  width: 600px;
  height: 400px;
  overflow: hidden;
}


.cont2_tabs img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.cont2_tabs .txtbox{
    position: absolute;
    text-align: center;
    z-index: 5;
    width: 100%;
    height: 100%;
    bottom: 0px;
    color: white;
    background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0.2), rgba(0,0,0,0));
}

.cont2_tabs .txtbox h2{
    position: absolute;
    bottom: 70px;
    font-size: 20px;
    text-align: center;
    width: 100%;
    padding: 0;
}

.cont2_tabs .txtbox a{
    position: absolute;
    bottom: 15px;
    text-decoration: none;
    transform: translateX(-50%);
    color: white;
    border: 1px solid white;
    padding: 5px 8px;
    transition: all 0.5s;
    font-size: 10px;
    font-weight: 800;
}

.cont2_tabs .txtbox a:hover{
    background-color: white;
    color: black;
    transition: all 0.5s;
}


.cont2 p{
    max-width: 800px;
    margin: auto;
    padding: 30px 20px 80px 20px;
    font-size: 18px;
    color: white;
    font-style: italic;
}



/* Cont4 */

.cont4{
    background-color: rgb(36, 36, 36);
    color: white;
}

.cont4 h1{
  color: white;
  font-size: 2.2rem;
  padding: 50px 0 50px 20px;
  max-width: 1400px;
  margin: auto;
}

.cont4All{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 50px;
    max-width: 1400px;
    margin: auto;
}


.cont4 .img1{
    display: block;
    margin: 10px 20px;
    position: relative;
    width: 600px;
    overflow: hidden;
}

.cont4 .img1 img{
    max-width: 100%;
    object-fit: cover;
    margin: 0;
}

.cont4 .img1 .txtbox{
    position: absolute;
    text-align: center;
    z-index: 5;
    width: 100%;
    height: 100%;
    bottom: 0px;
    color: white;
    background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0.2), rgba(0,0,0,0));
}

.cont4 .img1 .txtbox h2{
    position: absolute;
    bottom: 70px;
    width: 100%;
}

.cont4 .img1 .txtbox a{
    position: absolute;
    bottom: 15px;
    text-decoration: none;
    transform: translateX(-50%);
    color: white;
    border: 1px solid white;
    padding: 5px 8px;
    transition: all 0.5s;
    font-size: 10px;
    font-weight: 800;
}

.cont4 .img1 .txtbox a:hover{
    background-color: white;
    color: black;
    transition: all 0.5s;
}

.cont4 h2{
    font-size: 20px;
}

.cont4 p{
    max-width: 800px;
    margin: auto;
    padding: 30px 20px 80px 20px;
    font-size: 18px;
    font-style: italic;
}



/* Cont5 */


.cont5 h1{
    font-size: 2.2rem;
    padding: 50px 0 50px 20px;
    max-width: 600px;
    max-width: 1400px;
    margin: auto;
}

.cont5All{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 50px;
    max-width: 1400px;
    margin: auto;
}

.cont5 .img1{
    display: block;
    margin: 10px 20px;
    position: relative;
    width: 600px;
    overflow: hidden;
}

.cont5 .img1 img{
    max-width: 100%;
    object-fit: cover;
    margin: 0;
}

.cont5 .img1 .txtbox{
    position: absolute;
    text-align: center;
    z-index: 5;
    width: 100%;
    height: 100%;
    bottom: 0px;
    color: white;
    background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0.2), rgba(0,0,0,0));
}

.cont5 .img1 .txtbox h2{
    position: absolute;
    bottom: 70px;
    width: 100%;
}

.cont5 .img1 .txtbox a{
    position: absolute;
    bottom: 15px;
    text-decoration: none;
    transform: translateX(-50%);
    color: white;
    border: 1px solid white;
    padding: 5px 8px;
    transition: all 0.5s;
    font-size: 10px;
    font-weight: 800;
}

.cont5 .img1 .txtbox a:hover{
    background-color: white;
    color: black;
    transition: all 0.5s;
}

.cont5 p{
    max-width: 800px;
    margin: auto;
    padding: 30px 20px 80px 20px;
    font-size: 18px;
    font-style: italic;
}








/* responsive */


@media (max-width: 1450px) {
    .frame{
        width: 100vw;
        height: 75vw;
    }
}


@media (min-width: 830px) and (max-width: 1449px) {
   

    .frame{
        width: 100vw;
        height: 75vw;
    }

    /* .imgInfo h1{
        font-size: 50px;
        margin: 30px;
    }

    .imgInfo p{
        font-size: 35px;
        width: 80%;
    } */
}


@media (min-width: 400px) and (max-width: 829px) {


    .imgInfo h1{
        display: none;
    }

    .imgInfo a{
        font-size: 15px;
        padding: 5px 7px;
        border-width: 1px;
        bottom: 50px;
    }


    .btnSlide {
        width: 9px;
        height: 9px;
        margin: 15px;
        border-radius: 50%;
    }

    

    .cont2 h2 {
    font-size: 2.4rem;
    padding-top: 20px;
    }


    .cont2_set {
    margin-top: 20px;
    }




    .cont3{
        flex-wrap: wrap;
    }


    .cont3 h2{
        width: 94vw;
        padding: 21px;
    }

    .takeTour{
        width: 94vw;
        height: 230px;
    }


    .takeTour h1{
        padding: 30px 40px 80px;
        font-size: 20px;
    }

    .takeTour p{
        padding-left: 40px;
    }



    
    

    .cont4All{
        flex-wrap: wrap;
        padding-bottom: 30px;
    }

    .cont4All img{
        width: 94vw;
        height: 64vw;
        margin-left: 3vw;
    }

    .cont4 h1{
        font-size: 2.5rem;
        padding: 20px;
    }

    .cont4 .text_box{
        width: 94vw;
        padding: 10px;
        margin-left: 7vw;
    }

    .cont4 .text_box h4{
        font-size: 18px;
    }





    .cont5All{
        flex-wrap: wrap;
        padding-bottom: 30px;
    }

    .cont5All img{
        width: 94vw;
        height: 64vw;
        margin-left: 3vw;
    }

    .cont5 h1{
        font-size: 2.5rem;
        padding: 20px;
    }


    .cont5 .text_box{
        width: 94vw;
        padding: 40px 40px 20px 40px;
        margin-left: 3vw;
    }

    
    .collage1{
        max-width: 90vw;
        height: 60vw;
    }

    .collage2{
        max-width: 90vw;
        height: 60vw;
    }

}


@media (max-width: 399px) {
    
   


    .imgInfo h1{
        display: none;
    }

    .imgInfo a{
        font-size: 15px;
        padding: 5px 7px;
        border-width: 1px;
        bottom: 50px;
    }


    .btnSlide {
        width: 9px;
        height: 9px;
        margin: 15px;
        border-radius: 50%;
    }

    

    .cont2 h2 {
    font-size: 2.4rem;
    padding-top: 20px;
    }


    .cont2_set {
    margin-top: 20px;
    }




    .cont3{
        flex-wrap: wrap;
    }


    .cont3 h2{
        width: 94vw;
        padding: 21px;
        margin-left: 3vw;
    }

    .takeTour{
        width: 94vw;
        height: 230px;
    }


    .takeTour h1{
        padding: 30px 40px 80px;
        font-size: 20px;
    }

    .takeTour p{
        padding-left: 40px;
    }



    
    

    .cont4All{
        flex-wrap: wrap;
        padding-bottom: 30px;
    }

    .cont4All img{
        width: 94vw;
        height: 64vw;
        margin-left: 3vw;
    }

    .cont4 h1{
        font-size: 2.5rem;
        padding: 20px;
    }

    .cont4 .text_box{
        width: 94vw;
        padding: 10px;
        margin-left: 7vw;
    }

    .cont4 .text_box h4{
        font-size: 18px;
    }

    .cont4 .text_box a{
        font-size: 15px;
    }





    .cont5All{
        flex-wrap: wrap;
        padding-bottom: 30px;
    }

    .cont5All img{
        width: 94vw;
        height: 64vw;
        margin-left: 3vw;
    }

    .cont5 h1{
        font-size: 2.5rem;
        padding: 20px;
    }


    .cont5 .text_box{
        width: 94vw;
        padding: 40px 40px 20px 40px;
        margin-left: 3vw;
    }


    .collage1{
        max-width: 90vw;
        height: 60vw;
    }

    .collage2{
        max-width: 90vw;
        height: 60vw;
    }

}













