



















.topText{
    display: block;
    max-width: 1200px;
    margin: auto;
    font-size: 65px;
    margin-top: 50px;
    color: red;
}


.orangeLine{
    max-width: 1200px;
    height: 2px;
    background-color: orange;
    margin: auto;
}




.packet{
    max-width: 1200px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
}

.packet h3{
    margin-bottom: 10px;
    font-size: 30px;
}

.packet p{
    margin-bottom: 10px;
    font-size: 25px;
}

.packet img{
    max-width: 800px;
    height: 600px;
    object-fit: cover;
    margin: 10px auto;

}

.packet a{
    text-decoration: none;
    color: red;
    transition: all 0.5s ease;
}


.packet a:hover{
    background-color: red;
    color: white;
}


.cont2{
    background-color: black;
    color: white;
    padding: 10px 0;
}


.cont2 h2{
    max-width: 1200px;
    margin: 20px auto;
    font-size: 50px;
}

.cont2 a{
    max-width: 1200px;
    margin: 10px auto;
    text-decoration: none;
    color: white;
    display: block;
    font-size: 25px;
}

.cont2 a:hover{
    color: orange;
}







@media (min-width: 830px) and (max-width: 1249px) {
    
    .topText{
        max-width: 90vw;
        font-size: 55px;
        margin-top: 30px;
    }


    .orangeLine{
        max-width: 90vw;
    }




    .packet{
        max-width: 90vw;
    }

    .packet h3{
        margin-bottom: 10px;
        font-size: 30px;
    }

    .packet p{
        margin-bottom: 10px;
        font-size: 25px;
    }



    .cont2 h2{
        max-width: 90vw;
    }

    .cont2 a{
        max-width: 90vw;
    }

}


@media (max-width: 829px) {
    
    .topText{
        max-width: 90vw;
        font-size: 55px;
        margin-top: 30px;
    }


    .orangeLine{
        max-width: 90vw;
    }




    .packet{
        max-width: 90vw;
    }

    .packet h3{
        margin-bottom: 10px;
        font-size: 30px;
    }

    .packet p{
        margin-bottom: 10px;
        font-size: 25px;
    }

    .packet img{
        max-width: 90vw;
        height: 70vw;
    }



    .cont2 h2{
        max-width: 90vw;
    }

    .cont2 a{
        max-width: 90vw;
    }

}