@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



















.topText{
    display: block;
    max-width: 1200px;
    margin: auto;
    font-size: 65px;
    margin-top: 50px;
    color: red;
}


.orangeLine{
    max-width: 1200px;
    height: 2px;
    background-color: orange;
    margin: auto;
}




.cont1{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.outpack{
    max-width: 575px;
    margin: 20px auto;
}

.imgtab{
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}


.imgtab img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.imgtab .txtbox{
    width: 100%;
    padding-top: 40px;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0.6), rgba(0,0,0,0));
}

.imgtab .txtbox h2{
    color: white;
}


.imgtab .txtbox button{
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 5px 10px;
    margin: 10px 0 20px 0;
    transition: all 0.3s ease-in-out;
}

.imgtab .txtbox button:hover{
    cursor: pointer;
    color: black;
    background-color: white;
}


.slide-txtbox{
    width: 100%;
    max-height: 0;
    background-color: gray;
    color: white;
    transition: max-height 0.5s ease-in-out;
    overflow: hidden;
}

.slide-txtbox.expanded{
    max-height: 1000px;
}


.slide-txtbox p{
    width: 90%;
    margin: auto;
    padding: 20px 0;
    text-align: justify;
}

.slide-txtbox p a{
    color: orange;
    text-decoration: none;
}

.slide-txtbox p a:hover{
    color: red;
    cursor: pointer;
}










.cont2{
    background-color: black;
    color: white;
    padding: 10px 0;
}


.cont2 h2{
    max-width: 1200px;
    margin: 20px auto;
    font-size: 50px;
}

.cont2 a{
    max-width: 1200px;
    margin: 10px auto;
    text-decoration: none;
    color: white;
    display: block;
    font-size: 25px;
}

.cont2 a:hover{
    color: orange;
}







@media (min-width: 830px) and (max-width: 1249px) {
    
    .topText{
        max-width: 90vw;
        font-size: 55px;
        margin-top: 30px;
    }


    .orangeLine{
        max-width: 90vw;
    }



    .cont2 h2{
        max-width: 90vw;
    }

    .cont2 a{
        max-width: 90vw;
    }

}


@media (min-width: 601px) and (max-width: 829px) {
    
    .topText{
        max-width: 90vw;
        font-size: 55px;
        margin-top: 30px;
    }


    .orangeLine{
        max-width: 90vw;
    }




    .cont2 h2{
        max-width: 90vw;
    }

    .cont2 a{
        max-width: 90vw;
    }

}


@media (min-width: 200px) and (max-width: 600px) {

    .topText{
        max-width: 90vw;
        font-size: 55px;
        margin-top: 30px;
    }


    .orangeLine{
        max-width: 90vw;
    }


    .cont1{
        max-width: 90vw;
    }

    .outpack{
        max-width: 90%;
    }

    .imgtab{
        position: relative;
        width: 100%;
        height: 300px;
        overflow: hidden;
    }

    .cont2 h2{
        max-width: 90vw;
    }

    .cont2 a{
        max-width: 90vw;
    }
}